[run]
source = vpn_portal
omit = 
    */tests/*
    */site-packages/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    raise ImportError
    except ImportError:
    if TYPE_CHECKING:
    
show_missing = True
skip_covered = True
skip_empty = True
fail_under = 90

[html]
directory = coverage_html